.dropdown-container {
  display: inline-block;
  position: relative;
}
.dropdown-container:hover .tooltip-text {
  opacity: 1;
  visibility: visible;
}
.dropdown-container.dropdown-active:hover .tooltip-text {
  opacity: 0;
  visibility: hidden;
}

.menu-dropdown {
  display: none;
  position: absolute;
  right: 0;
  top: 2rem;
  background: white;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: var(--shadow);
  z-index: 10;
}

.menu-dropdown-btn:focus + .menu-dropdown,
.menu-dropdown:hover {
  display: block;
}

.menu-dropdown-btn {
  background: none;
  border: none;
  font-size: 1.25rem;
  color: var(--text-color);
  cursor: pointer;
  padding: 0.25rem;
}

.menu-dropdown-btn:hover {
  color: var(--heading-color);
}

/* .menu-dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  padding: 10px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  display: none;
  z-index: 10;
  width: max-content;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}  */

.menu-dropdown.show {
  display: block;
}
