<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>My Wishlist: {% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="/static/styles.css" />
    <script src="/static/script.js"></script>
    <script src="/static/nav_bar.js"></script>

    {% block head %}{% endblock %}
  </head>
  <body>
    <div class="wrapper">
      {% if session["user_id"] %} {% include "nav_bar.html" %} {% endif %}

      <div class="content" id="main-content">
        {% if session["user_id"] %}
        <ul class="nav-bar">
          <li>
            <button class="nav-bar-btn" id="toggleSidebar">
              <span class="tooltip-text">Open Sidebar</span>
              <span class="icon">{% include "icons/menu.svg" %}</span>
            </button>
          </li>
        </ul>
        {% else %}
        <ul>
          <li><a href="/login">Log In</a></li>
          <li><a href="/register">Register</a></li>
        </ul>
        {% endif %}

        <main>{% block main %}{% endblock %}</main>
      </div>
    </div>
  </body>
</html>
