<div id="modalNewItem" class="modal-overlay">
  <div class="modal">
    <div class="modal-header">
      <h2>Create New Wish</h2>
      <button id="closeModalBtnNewItem" class="modal-close">&times;</button>
    </div>
    <form action="/new_wishlist" method="POST" class="modal-form">
      <label for="title">Wish Title</label>
      <input type="text" name="title" id="title" placeholder="Empty" required />

      <label for="description">Description</label>
      <input
        type="text"
        name="description"
        id="description"
        placeholder="Empty"
      />

      <label for="url">URL</label>
      <input type="url" name="url" id="url" placeholder="Empty" />

      <label for="price">Price</label>
      <input type="number" step="0.01" name="price" id="price" />

      <label for="currency">Currency</label>
      <select name="currency" id="currency">
        <option value="" selected disabled>Select currency</option>
        {% for currency in currencies %}
        <option value="{{ currency.alpha_3 }}">
          {{ currency.name }} ({{ currency.alpha_3 }})
        </option>
        {% endfor %}
      </select>
      <label for="priority">Priority:</label>
      <select name="priority" id="priority">
        <option value="0">Low</option>
        <option value="1">Medium</option>
        <option value="2">High</option>
      </select>

      <label for="list_name">List Name:</label>
      <select name="list_name" id="list_name">
        <option value="">Select a list</option>
        {% for lst in predefined_lists %}
        <option value="{{ lst.name }}" data-emoji="{{ lst.emoji }}">
          {{ lst.emoji }} {{ lst.name }}
        </option>
        {% endfor %}
      </select>

      <div class="form-group-checkbox">
        <input type="checkbox" name="private" id="private" value="1" />
        <label for="private">Private Wish</label>
        <span
          class="explanation-icon"
          title="Private wishes are not visible to others when sharing your list. You can change this setting later."
        >
          ℹ️
        </span>
      </div>

      <button type="submit" class="modal-submit">Add</button>
    </form>
  </div>
</div>
