{% extends "wishlist.html" %}
{% block head %}
<script src="/static/wishlist-items.js"></script>
<script src="/static/modal_window.js"></script>
{% endblock %}
{% block title %}
Wishlist Items
{% endblock %}

{% block main %}
<div class="row">
    <h1>🛍️ {{ category_name if category_name else 'Unknown Category' }}</h1>
<button id="openModalBtn" class="add-category-btn">
    <span class="plus-icon">New +</span>
    <span class="tooltip-text">Create new wish</span>
</button>
</div>
<hr>
{% if items %}
<ul>
    {% for item in items %}
    <li id="item-{{ item['id'] }}">
        <div id="title-container-{{ item['id'] }}"
        ><strong id="title-text-{{ item['id'] }}">{{ item['title'] }}</strong
        ><form action="/wishlist/{{ category_id }}" method="post"><input value="{{item['title']}}" hidden name="title"><input type='hidden' value="{{item['id']}}" name="id"></form></div>
        <div id="description-container-{{ item['id'] }}"
        ><div id="description-text-{{ item['id'] }}">- {{ item['description'] }}</div
        ><form action="/wishlist/{{ category_id }}" method="post"><input value="{{item['description']}}" hidden name="description"><input type='hidden' value="{{item['id']}}" name="id"></form></div>
        <div id="url-container-{{ item['id'] }}"
        ><a id="url-link-{{ item['id'] }}" href="{{ item['url'] }}" target="_blank">🔗 Link</a
        ><form action="/wishlist/{{ category_id }}" method="post"><input value="{{item['url']}}" hidden name="url"><input type='hidden' value="{{item['id']}}" name="id"></form></div>
        <div id="price-container-{{ item['id'] }}"
        ><span id="price-value-{{ item['id'] }}">💰 {{ item['price'] }} CHF</span
        ><form action="/wishlist/{{ category_id }}" method="post"><input value="{{item['price']}}" hidden name="price"><input type='hidden' value="{{item['id']}}" name="id"></form></div>
        <div id="delete-container-{{ item['id'] }}"
        >
        ><form action="/wishlist/{{ category_id }}" method="post"> <input value="delete" hidden name="delete"> <input type="hidden" name="id" value="{{item['id']}}"> <button id="delete-button-{{ item['id'] }}">Delete</button></form>
        </div>
    </li>
    {% endfor %}
</ul>
{% endif %}


<div id="modal" class="modal">
    <div class="modal-content">
        <span id="closeModalBtn" class="close-btn">&times;</span>
        <h2>Create New Wish</h2>
        <form action="/wishlist/{{ category_id }}" method="POST">
            <label for="title">Item Title:</label>
            <input type="text" name="title" id="title" required>

            <label for="description">Description:</label>
            <input type="text" name="description" id="description">

            <label for="url">URL:</label>
            <input type="url" name="url" id="url">

            <label for="price">Price (CHF):</label>
            <input type="number" step="0.01" name="price" id="price">

            <button type="submit">Add Item</button>

        </form>
    </div>
</div>


<a href="/wishlist">🔙 Back to Wishlist</a>

{% endblock %}
