{% extends "layout.html" %}

{% block title %}
Add Wishlist
{% endblock %}

{% block main %}
<div class="row"> <h1>🎁 Your Wishlist Categories</h1>
    <a href="/create_wishlist" class="add-category-btn">
        <span class="plus-icon">＋</span>
        <span class="tooltip-text">Add a new category</span>
    </a>
</div>

<hr>
<ul>
    {% for category in wishlist_categories %}
    <li>
        <button> <a href="/wishlist/{{ category['id'] }}">{{ category['name'] }}</a></button>
    </li>
    {% endfor %}
</ul>





{% endblock %}
